aiohttp==1.0.5
async-timeout==2.0.0
certifi==2018.10.15
chardet==3.0.4
cssselect==1.0.3
DateTime==4.2
discord.py==0.16.12
discordbot.py==0.2.3a3
idna==2.6
lxml==4.2.5
multidict==4.0.0
psutil==5.4.8
psycopg2-binary==2.7.5
pyquery==1.4.0
pytz==2017.3
requests==2.18.4
urllib3==1.22
websockets==3.4
zope.interface==4.6.0
