aiohttp==3.4.4
async-timeout==3.0.1
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
cssselect==1.0.3
DateTime==4.3
discord.py==0.16.12
discordbot.py==0.2.3a3
idna==2.7
idna-ssl==1.1.0
lxml==4.2.5
multidict==4.4.2
psutil==5.4.8
psycopg2-binary==2.7.5
pyquery==1.4.0
pytz==2018.7
requests==2.20.0
urllib3==1.24.1
websockets==7.0
yarl==1.2.6
zope.interface==4.6.0
